[submodule "third_party/nanopb"]
	path = third_party/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "proto/meshtastic"]
	path = proto/meshtastic
	url = https://github.com/meshtastic/protobufs
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
